@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

body {
  max-width: 1200px;
  margin: auto;
}
.description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
